absl-py==0.5.0
astor==0.7.1
cycler==0.10.0
easygui==0.98.1
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.0
numpy==1.14.5
protobuf==3.6.1
pygame==1.9.4
pyparsing==2.2.2
python-dateutil==2.7.3
PyYAML==3.13
scipy==1.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
Werkzeug==0.14.1
